{% extends 'home/basic-plain.html' %}
{% load static %}
{% block content %}
{% block title %}
<title>Innogeeks | Best Engineering Society at KIET Group of Institutions</title>
{% endblock title %}
  <div class="" >
    <div class="col-12">
        <div class="d-flex justify-content-center ">
        <div class="col-12 col-md-8 col-lg-6 " style="margin-top: 50px;">
            <a href="/"><img class="logo-img" src="{% static 'img/innogeeks.png' %}" alt="Innogeeks ,KIET Group Of Institution,Best Technical club in India" style="width:100%; ";></a>
        </div>  
        </div>
    </div>
    
    <div class="col-12 " >
        <div class="d-flex justify-content-center ">
        <div class="col-10 col-md-6 col-lg-4 col-xl-3">
            <div class="card dark" >
                <div class="d-flex justify-content-center">  
                <h1 class="heading p-4">Change Password</h1>  
                </div>                            
            
                <div class="col-12 ">
                    {% if validlink %}
                    <form class="form-horizontal rec-form"  method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group row ">
                            <label for="" class="col-12 form-text" style="color: rgb(0, 102, 204);">{{field.label_tag }}</label>
                            <div class= "col-lg-12">{{ field }}</div>
                        </div>
                        {%endfor %}
                        <div class=" row  ">
                            <div class=" col-12 d-flex justify-content-center">
                                <button class="" type="submit" class="form-control mt-2 dark hover-login-button">Submit</button>
                            </div>    
                        </div>
                    </form>
                </div>
            {% else %}
            <div class="col-12 ">
                <p style="color: white;">
                    The password reset link was invalid, possibly because it has already been used.
                    <br>
                    Please request a new One.
                    </p> 
            </div>
            {% endif %}
        </div>
        </div>  
        </div>
    </div>
 <!-- Password-reset end-->
 <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% for field in form %}
    {% for error in field.errors %}
        <script> alertify.error('{{error}}');</script>
    {% endfor %}
{% endfor %}
            
    {% endblock %}