
  {% extends 'home/basic-plain.html' %}
  {% load static %}
  {% block content %}
  

  <!-- ======= Password-reset-email Section ======= -->
  <div class="" >
    <div class="col-12">
        <div class="d-flex justify-content-center ">
        <div class="col-12 col-md-8 col-lg-6 " style="margin-top: 50px;">
            <a href="/"><img class="logo-img" src="{% static 'img/innogeeks.png' %}" alt="Innogeeks ,KIET Group Of Institution,Best Technical club in India" style="width:100%; ";></a>
        </div>  
        </div>
    </div>
    <div class="col-12 " >
        <div class="d-flex justify-content-center ">
        <div class="col-10 col-md-6 col-lg-4 col-xl-3">
            <div class="card dark" >
                <!-- <p class="m-2 p-1" style=" color:white "><i><b>Please,Wait a second after submit!</b></i></p>  -->
                <div class="d-flex justify-content-center">  
                <h2 class="heading ">Forgot Password</h2> 
            </div>                            
            
            <div class="col-12 ">
                <form class="form-horizontal rec-form"  method="post" >
                    {% csrf_token %}
                   
                    <div class="form-group row ">
                        <label for="Email" class="col-12 form-text" style="color: rgb(0, 102, 204);">Email:</label>
                          <input class="form-control col-12 col-lg-12" type="text" name="email" value=""  required placeholder="Email">
                    </div>
                    <div class=" row  ">
                        <div class=" col-12 d-flex justify-content-center">
                            <button class="" type="submit" class="form-control mt-2 dark hover-login-button">Submit</button>
                        </div>    
                    </div>
                </form>
            </div>
        </div>
        </div>  
        </div>
    </div>
<!-- Password-reset-email end-->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
{% for field in form %}
    {% for error in field.errors %}
        <script> alertify.error('{{error}}');</script>
    {% endfor %}
{% endfor %}

    {% endblock %}