<!DOCTYPE html>
<html lang="en">
{% load static %}
<!--Headers-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="dashboard with the help of core-ui bootstrap">
    <meta name="author" content="Harsh Gupta">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>

    <!-- Icons -->
    <link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/form.css' %}" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    {% comment %} <link href="{% static 'src/css/resources.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/hackathon.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/project.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/personal_profile.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/article_list.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/achievement.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/hackathon_list.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/public_profile.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link href="{% static 'src/css/resume.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/updates.css' %}" rel="stylesheet"> {% endcomment %}
    {% comment %} <link href="{% static 'src/css/student-task.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/Manage-task.css' %}" rel="stylesheet">
    <link href="{% static 'src/css/Assign-task.css' %}" rel="stylesheet"> {% endcomment %}
    {% block extrahead %}
    {% endblock %}
    
</head>


<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<!--Navbar-->
{% include 'base/navbar.html' %}

<div class="app-body">
    <!--Sidebar-->
    {% include 'base/sidebar.html' %}

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class=""><a href="{% url 'home' %}">Dashboard</a></li>
            {% block bcp %} {% endblock %}
             {% block bca %} {% endblock %}
          <!-- inside bcp block:
             <li class="">  &nbsp / &nbsp </li> 
             inside bca block
            <li class="breadcrumb-item active"> &nbsp / &nbsp </li> -->
           
            
            <!-- Breadcrumb Menu Start-->
            <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="{% url 'home' %}"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    
                </div>
            </li>
            <!-- Breadcrumb Menu end -->
        
            {% block breadcrumb %}
            
            {% endblock %}
        </ol>

        
        
        

        <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
    </main>


    

</div>

<!--Footer-->
{% include 'base/footer.html' %}

<!--JS-->
<script src="{% static 'dist/vendors/js/jquery.min.js' %}"></script>
<script src="{% static 'dist/vendors/js/popper.min.js' %}"></script>
<script src="{% static 'dist/vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/vendors/js/pace.min.js' %}"></script>



{% comment %} <!-- CoreUI main scripts --> {% endcomment %}

<script src="{% static 'dist/js/app.js' %}"></script>

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script src="{% static 'dist/js/views/main.js' %}"></script>
<script src="{% static 'src/js/attendance.js' %}"></script>
{% comment %} <script src="{% static 'src/js/resources.js' %}"></script>
<script src="{% static 'src/js/achievement.js' %}"></script>
<script src="{% static 'src/js/home.js' %}"></script>
<script src="{% static 'src/js/public_profile.js' %}"></script>
<script src="{% static 'src/js/article.js' %}"></script>
<script src="{% static 'src/js/Assign-Task.js' %}"></script>
<script src="{% static 'src/js/Manage-Task.js' %}"></script>
<script src="{% static 'src/js/updates.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="{% static 'src/js/student-task.js' %}"></script> {% endcomment %}
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  {% if messages %}
  {% for message in messages %}
    <script> alertify.{{message.tags }}('{{message}}');</script>
  {% endfor %}
  {% endif %}
{% block script %}

{% endblock %}


</body>
</html>
