{% load static %}

    <!-- Navbar Section Start -->
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <a href="#">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    
    <ul class="nav navbar-nav ml-auto mr-2">
        <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
                {% if request.session.image %}
                <img src="{{request.session.image}}" class="img-avatar" alt="admin Innogeeks technical club of kiet group of institution Ghaziabad">
                {% else %}
                  {%if request.session.gender == 'female' %}
                <img src="{% static 'src/img/girl.png' %}" class="img-avatar" alt="Innogeeks technical club of kiet group of institution Ghaziabad Anynumos ">
                 {% else %}
                <img src="{% static 'src/img/man.png' %}" class="img-avatar" alt="Innogeeks technical club of kiet group of institution Ghaziabad Anynumos ">
                  {% endif %}
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>
                {% comment %} <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span
                        class="badge badge-info">42</span></a>
                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div> {% endcomment %}
                {% comment %} <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a> {% endcomment %}
                {% comment %} <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a> {% endcomment %}
                {% comment %} <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a> {% endcomment %}
                <a class="dropdown-item" href="{% url 'personal_profile' %}"><i class="fa fa-user"></i> Profile {{request.session.clubProfile.image}}</a>
                {% comment %}  <!-- <a class="dropdown-item" href="{% url 'feedback' %}"><i class="fa fa-user"></i> Feedback</a> -->{%endcomment %}
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
<!-- Navbar-section end -->

    {% block navbar %}
    {% endblock %}

</header>
