{% load static %}

    
    <!--  Sidebar Section Start -->
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            
    <!--  Profile Section Start -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i>Profile</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/personal_profile/">
                            <i class="fa fa-user-circle"></i>Personal Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'publicProfileRedirect'%}">
                            <i class="fa fa-user-circle-o"></i>Public Profile</a>
                    </li> 
                    {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{%url 'resume'%}">
                            <i class="fa fa-file-o"></i>Resume</a>
                    </li> {% endcomment %}
                </ul>
            </li>
            <!-- Profile Section End -->
            

    <!--  Resources Section Start -->
            <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fa fa-sitemap"></i>Resources</a>
                        <ul class="nav-dropdown-items">
                            {% for course in request.session.clubprofile %}
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/resources/home/{{course}}/">
                                    <i class="fa fa-code"></i>{{course}}</a>
                            </li>
                            {% endfor %}
                           
                        </ul>
            </li>
            <!-- Resources section end -->


            
    <!--  Achievement Section Start -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-trophy"></i>Achievements</a>
                <ul class="nav-dropdown-items">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_achievement' %}">
                      <i class="fa fa-plus-circle"></i>Add Achievements</a>
             </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'achievement'%}">
                        <i class="fa fa-list"></i>Achievements List</a>

                </li>
              
              
                </ul>
            </li>
            <!-- Achievement section end -->


            
    <!--  Project Section Start -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i>Project</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_project'%}">
                            <i class="fa fa-plus-circle"></i>Add Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project' %}">
                            <i class="fa fa-list"></i>Project List</a>
                    </li>
                </ul>
            </li>
            <!-- Project Section end -->
            
            
    <!--  Hackathon Section Start -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i>Hackathon</a>
                <ul class="nav-dropdown-items">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'hackathon'%}">
                            <i class="fa fa-calendar-plus-o"></i>Upcoming Hackathon</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_hackathon' %}">
                            <i class="fa fa-plus-circle"></i>Add Hackathon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hackathon_list' %}">
                            <i class="fa fa-list"></i> Hackathon List</a>
                    </li>
                </ul>
            </li>
            <!-- Hackathon Section end -->


           
    <!--  Articles Section Start -->
            <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fa fa-newspaper-o"></i>Articles</a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add_articles' %}">
                                        <i class="fa fa-plus-circle"></i>Write Article</a>
                                </li>
                             <li class="nav-item">
                                   <a class="nav-link" href="{% url 'article_list' %}">
                                    <i class="fa fa-list"></i>Articles List</a>
                                </li>
                            </ul>
            </li>
                    <!-- Articles Section end -->

                   
    <!--  Mentor Section Start -->
            {% comment %} <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fa fa-users"></i>Mentor</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'assign_task' %}">
                                    <i class="fa fa-tasks"></i>Assign Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'manage_task' %}">
                                    <i class="fa fa-check"></i>Manage Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_task' %}">
                                    <i class="fa fa-check"></i>Tasks Assigned</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mentor_update' %}">
                                    <i class="fa fa-check"></i>Updates</a>
                            </li>
                        </ul>
            </li> {% endcomment %}
            <!-- Mentor Section end -->
           
           </ul>
               </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>