{% extends 'base/base.html' %}

{% block title %}
Resources for Web Development
{% endblock title %}



{% load static %}

{% block script %}
<script src="{% static 'src/js/resources.js' %}"></script>

{% endblock  %}

{% block extrahead %}
<link href="{% static 'src/css/resources.css' %}" rel="stylesheet">
{% endblock extrahead %}



{% block content %}


    <!-- ======= WebD Section ======= -->
    <div class="container-fluid">
            <div class="animated fadeIn">
                <h1 class="pagehead">
                    WEB DEVELOPMENT
                </h1>
                <section class="resources-section">
                    <div class="Basic-programming">
                        <h1 class="sec-head" onclick="drop_down('drop1')">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Frontend
                        </h1>
                        <div class="drop" id="drop1" style="display: block;">
                            
                            <div class="internal_sec">
                                <div class="r_card">
                                    <h4 class="card_head">
                                        HTML

                                    </h4>
                                    <img src="{% static 'src/img/html.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        CSS

                                    </h4>
                                    <img src="{% static 'src/img/css.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        JavaScript

                                    </h4>
                                    <img src="{% static 'src/img/js.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        Bootstrap

                                    </h4>
                                    <img src="{% static 'src/img/boot.png' %}" alt="" srcset="">
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="DSA">
                        <h1 class="sec-head" onclick="drop_down('drop2')">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Backend
                        </h1>
                        <div class="drop" id="drop2" style="display: block;">
                            
                            <div class="internal_sec">
                                <div class="r_card">
                                    <h4 class="card_head">
                                        Django
                                    </h4>
                                    <img src="{% static 'src/img/django.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        Node.js
                                    </h4>
                                    <img src="{% static 'src/img/node.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        PHP
                                    </h4>
                                    <img src="{% static 'src/img/php.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        Ruby
                                    </h4>
                                    <img src="{% static 'src/img/ruby.jpeg' %}" alt="" srcset="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="Domain-related">
                        <h1 class="sec-head" onclick="drop_down('drop3')">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            Other Frameworks
                        </h1>
                        <div class="drop" id="drop3" style="display: block;">
                            
                            <div class="internal_sec">
                                <div class="r_card">
                                    <h4 class="card_head">
                                        React
                                    </h4>
                                    <img src="{% static 'src/img/react.png' %}" alt="" srcset="">
                                </div>
                                <div class="r_card">
                                    <h4 class="card_head">
                                        Vue
                                    </h4>
                                    <img src="{% static 'src/img/vue.png' %}" alt="" srcset="">
                                    </div>
                                    <div class="r_card">
                                        <h4 class="card_head">
                                            Angular
                                        </h4>
                                        <img src="{% static 'src/img/angular.png' %}" alt="" srcset="">
                                    </div>
                                    <div class="r_card">
                                        <h4 class="card_head">
                                            jQuery
                                        </h4>
                                        <img src="{% static 'src/img/jquery.jpeg' %}" alt="" srcset="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

            </div>
            <!-- webD section end -->
        




    
{%endblock %}

    
    



