{% extends 'base/base.html' %}
{% load static %}
{% block script %}
<script src="{% static 'src/js/Manage-Task.js' %}"></script>
<script src="{% static 'src/js/Assign-Task.js' %}"></script>
{% endblock script %}
{% block extrahead %}
<link href ="{% static 'src/css/Manage-task.css' %}" rel ="stylesheet">
<link href ="{% static 'src/css/Assign-task.css' %}" rel ="stylesheet">
{% endblock extrahead %}
{% block content %}

<!-- ======= Manage-Task Section ======= -->
            <div class="tabs-sec">
                <button class="tab_button active-tab" onclick="openTab(event,'left')">Manage Tasks</button>
                <button class="tab_button" onclick="openTab(event,'right')">Manage Updates</button>

            </div>
            <section class="manage-task">
                <div id="left" class="left tabs">
                    <section class="int-sec">
                        <h1 class="heading">
                            Manage Tasks
                        </h1>
                        

                        <ul class="tasks" style="list-style:none">
                            
                            <li class="element" id="random">
                                <div class="field">
                                    <label for="Task-name">Task name: </label>
                                    <label for="hide">Task 1 </label>
                                    <input type="text" name="Task-name" id="Task-name" value="Task 1" style="display:none;"><br>
                                </div>
                                <div class="field">
                                    <label for="Task-duration">Duration (in hrs.): </label>
                                    <label  for="hide"> 1 hr </label>
                                    <input type="text" name="Task-duration" id="Task-duration" value="1 hr" style="display:none;"><br>
                                </div>
                                <div class="field">
                                    <label for="Task-Description">Task Description: </label>
                                    <label  for="hide">This is the task description </label>
                                    <textarea name="Task-Description" id="Task-Description" cols="30" rows="4" style="display:none;">This is the task description</textarea>
                                </div>
                                <div class="field">
                                    <label for="Related-resources">Related Resources: </label>
                                    <label  for="hide">Some resources. </label>
                                    <input type="text" name="Related-resources" id="Related-resources" value="Some resources." style="display:none;">
                                </div>
    
                                <input id="Submit-button" type="submit" value="Update" style="display:none;">

                                <div class="buttons">
                                    <button class="delete" onclick="delete_element(random)">Delete</button>
                                    <button class="edit" onclick="edit_element(random)">Edit</button>
                                </div>
                            </li>
                        </ul>
                    </section>

                </div>




                <div id="right" class="right tabs" style="display: none;">
                    <section class="int-sec">
                        <h1 class="heading">
                            Manage Updates
                        </h1>
                    
                        <ul class="tasks" style="list-style:none">
                            

                           



                           




                            



                            <li class="element" id="random1">
                                <div class="field">
                                    <label for="Update-name">Update name: </label>
                                    <label for="hide">Name</label>
                                    <input type="text" name="Update-name" id="Update-name" value="name" style="display:none;"><br>
                                </div>
                                <div class="field">
                                    <label for="Task-duration">Duration (in hrs.): </label>
                                    <label for="hide">Duration</label>
                                    <input type="text" name="Task-duration" id="Task-duration" value="Duration" style="display:none;"><br>
                                </div>
                                <div class="field">
                                    <label for="Update-Description">Update Description: </label>
                                    <label for="hide">Description</label>
                                    <textarea name="Update-Description" id="Update-Description" cols="30" rows="4" style="display:none;">Description</textarea><br>
                                </div>
    
                                <input id="Submit-button" type="submit" value="Update" style="display:none;">

                                <div class="buttons">
                                    <button class="delete" onclick="delete_element(random1)">Delete</button>
                                    <button class="edit" onclick="edit_element(random1)">Edit</button>
                                </div>
                               
                            </li>
                        </ul>
                    </section>
                </div>
            </section>
            <!-- Manage-Task Section -->
    {% endblock content %}
