{% extends 'base/base.html' %}
{% block bca %}<li class="breadcrumb-item active"> &nbsp / &nbsp Add Achievement</li> {% endblock %}
{% load static %}

{% block script %}
<script src="{% static 'src/js/project.js' %}"></script>
{% endblock %}
{% block extrahead %}

<link href="{% static 'src/css/project.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block content %}

 <!-- ======= Add Achievement Form ======= -->
  <div class="container-fluid">
            <div class="animated fadeIn">
              <div class="card">
                <div class="card-header ">Add Achievement </div>
                <div class="card-body">
                    <form action="/dashboard/add_achievement/" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-row">
                        <div class=" form-group col-md-8">
                        <h6>Achievement: *</h6> 
                        <input type="text" class="form-control mb-3 mt-2" placeholder="Enter your Achievement"
                        name="AchievementName"  required>

                        <h6>Category: *</h6>
                         <select
                        class="form-control"
                        name="Category"
                         required>
                         <option value="Technical">Technical</option>
                        <option value="Non-technical">Non-technical</option>
                        <option value="Academics">Academics</option>
                        <option value="Non-technical">Others</option>
                        </select>
                        <br>
                        <h6>Your Role: *</h6>
                        <input name="Role" type="text" class="form-control" id="inputtext4" placeholder="Enter your Role" required>

                          </div>
                        <div class="form-group col-md-4">
                          <div class="container-fluid"> 
                          <h6>Image: </h6>
                          
                          <img id="previewImg" src="{% static 'src/img/placeholder-img.jpg' %}" alt="Placeholder">
                          <br>
                          <input type="file" name="Image" onchange="previewFile(this);" accept="image/*" >
                         </div>
                        </div>
                      </div>

                      <h6>Description: *</h6>
                        <textarea class="form-control mb-3 mt-2" name="Description"
                        placeholder="Brief description about your Achievement" rows="5" required></textarea>

                        <div class="form-row">
                          <div class="form-group col-md-8">
                            <h6>Certificate:</h6> 
                            <input type="text"
                            class="form-control mb-3 mt-2"
                            name='CertiURL'
                            placeholder='Enter the link of certificate'
                            >
                          </div>
                          <div class="form-group col-md-4">
                            <h6>Visibility: *</h6>
                            <select
                              class="form-control mb-2"
                              name="is_public"
                              required>
                              <option value="public">Public</option>
                              <option value="private">Private</option>
                            </select>
                          </div>
                        </div>
                        <button class="btn btn-success btn-ladda col-12" type="submit" data-style="contract" style="border-radius: 5px; font-size: 15px;">Submit</button>


                    </form>

                </div>
            </div>

        </div>
        
        <!-- Add Achievement form end -->
{% endblock content %}