{% extends 'base/base.html' %}
{% load static %}

{% block script %}
<script src="{% static 'src/js/public_profile.js' %}"></script>
{% endblock  %}

{% block extrahead %}
<link href="{% static 'src/css/public_profile.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block content %}

<!-- ======= Another profile Section ======= -->
<section class="about ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
  <div class="row d-flex no-gutters">
   <div class="row">
     <div class="col-md-6">
       <img src="{% static 'src/img/about.jpg' %}" style="height: auto; width: 100%; max-height:600px; max-width: 400px;"alt="">
     </div>
     <div class="col-md-6 col-lg-6">
      <div class="row justify-content-start pb-3">
      <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
      <h1 class="big">  Profile</h1>
      <h2 class="mb-4">About Me</h2>
      <p>Innovative and deadline-driven Full-stack Web Developer with 3+ years of experience designing and developing user-centered websites from initial concept to final, polished deliverable.</p>
      <ul class="about-info mt-4 px-md-0 px-2">
      <li class="d-flex"><span>Name:</span> <span>Aditi Goyal</span></li>
      <li class="d-flex"><span>Date of birth:</span> <span>January 1, 2001</span></li>
      <li class="d-flex"><span>Address:</span> <span>Delhi , India</span></li>
     
      <li class="d-flex"><span>Email:</span> <span>aditi@gmail.com</span></li>
      <li class="d-flex"><span>Phone: </span> <span>+91-9898989898</span></li>
      </ul> 
      </div>
      </div>
      <div class="counter-wrap ftco-animate d-flex mt-md-3 fadeInUp ftco-animated">
        <div class="text">
        <p class="mb-4">
        <span class="number" data-number="9">9</span>
        <span>Project complete</span>
        </p>
        <p><a href="#" class="btn btn-primary py-3 px-3" onclick="window.print()"><i class="fa fa-download" aria-hidden="true"></i> Download CV</a></p>
         </div>
        </div>
       
     </div>
   </div>
  </section>
<br><br>


  

    <!-- professional,summary Section -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Summary</h2>
          <p>Innovative and deadline-driven Full-stack Web Developer with 3+ years of experience designing and developing user-centered websites from initial concept to final, polished deliverable.Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>b-tech in information technology</h4>
              <h5>2019 - 2023</h5>
              <p><em>KIET Group of Institutions, Ghaziabad, UP</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Primary and secondary education</h4>
              <h5>2006 - 2019</h5>
              <p><em>Delhi Public School, Bulandshahr, UP</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
            <h3 class="resume-title">Skills</h3>
            <div class="resume-item pb-0">
              <h4>Full-Stack Web Developer</h4>
              <ul>
                <li>Frontend (HTML5, CSS3, Bootstrap, Javascript, Raect.js)</li>
                <li>Backend (Node.js , PHP)</li>
                <li>CP (C++ ,C )</li>
                <li>Public Speaking</li>
                <li>Project Management</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Internship as full-stack web Developer </h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
               
              </ul>
            </div>
            <div class="resume-item">
              <h4>Internship as Graphic design specialist</h4>
              <h5>2018 - 2019</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Internship as Frontend developer</h4>
              <h5>2017 - 2018</h5>
              <p><em></em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End professional,summary Section -->

    <section class="ftco-section ftco-no-pb" id="resume-section">
      <div class="container">
        <div id="page-2" class="page two">
        <h2 class="heading">Projects & Achievements</h2>
      <div class="row">
      <div class="col-md-6">
      <div class="resume-wrap ftco-animate fadeInUp ftco-animated">
        
      <span class="date">2014-2015</span>
      <div class="row">
        <div class="col-md-10"><h2>	App design and development</h2></div>
        <div class="col-md-2"><h2><a href=""><i class="fa fa-link" aria-hidden="true"></i></a></h2></div>
      </div>
       
      <span class="position">Android development</span>
      <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
      <div class="resume-wrap ftco-animate fadeInUp ftco-animated">
      <span class="date">2014-2015</span>
      <div class="row">
        <div class="col-md-10"><h2>	App design and development</h2></div>
        <div class="col-md-2"><h2><a href=""><i class="fa fa-link" aria-hidden="true"></i></a></h2></div>
      </div>
      <span class="position">Android development</span>
      <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
      
      </div>
      <div class="col-md-6">
      
      <div class="resume-wrap ftco-animate fadeInUp ftco-animated">
      <span class="date">2014-2015</span>
      <div class="row">
        <div class="col-md-10"><h2>	App design and development</h2></div>
        <div class="col-md-2"><h2><a href=""><i class="fa fa-link" aria-hidden="true"></i></a></h2></div>
      </div>
      <span class="position">Android development</span>
      <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
      <div class="resume-wrap ftco-animate fadeInUp ftco-animated">
      <span class="date">2017-2018</span>
      <div class="row">
        <div class="col-md-10"><h2>	App design and development</h2></div>
        <div class="col-md-2"><h2><a href=""><i class="fa fa-link" aria-hidden="true"></i></a></h2></div>
      </div>
      <span class="position">Android development</span>
      <p class="mt-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
      </div>
      </div>
      </div>
    </div>
      </div>
      </section>     
      
      <!-- Update Task end -->
{% endblock %} 