<!doctype html>
<html lang="en">
  <head> 
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
     {% block script %}
    <script src="{% static 'src/js/public_profile.js' %}"></script>
    {% endblock script %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'src/css/public_profile.css' %}">
    {% endblock extrahead %}
    
    <title>PUBLIC PROFILE</title>
           
    </head>
    <body>
          <div id="left"></div>
          <div id="right"></div>
          
          <div class="spare">.</div>
          <div class="header">
                <b class="av" >PUBLIC PROFILE</b>
                <!-- <a class="copy_text"  data-toggle="tooltip" title="Copy to Clipboard" href="http://innogeeks.kiet.edu"><i class="fa fa-share-alt fa-2x" aria-hidden="true" style="float: right; color:#fff; padding-right:2.5em; padding-top:0.5em; text-align: center; vertical-align: middle;"></i></a> -->
                <a class="copy_text"  data-toggle="tooltip" title="Copy to Clipboard" href="https://innogeeks.in/member/profile/{{profile.username}}/"><i class="fa fa-share-alt fa-2x" aria-hidden="true" style="float: right; color:#fff; padding-right:2.5em; padding-top:0.5em; text-align: center; vertical-align: middle;"></i></a>
          
                <!-- three dot menu -->
                <!-- <div class="dropdown" style="color: #000;"> -->
                    <!-- three dots -->
                    <!-- <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul> -->
                    <!-- menu -->
                    <!-- <div id="myDropdown" class="dropdown-content">
                        <a  onclick = "gfg_Run('rgb(240, 240, 240)')">Default</a>
                        <a href="#" ><input type="file" name="" id="file" value="Click"></a>
                    </div> -->
                <!-- </div> -->

            </div>
            <div style="padding:2em;"></div>
            <section class="about ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section" style="">
            <div class="container">
            <div class="row d-flex no-gutters">
            <div class="row align-items-center ">
              <div class="col-md-6" >
                {% if club.image %}
                <div class="container">
                <img src="{% static '' %}{{club.image}}" style="height: auto; width: 100%; max-height:300px; max-width: 300px;"alt="profile">
              </div>
                {% elif club.gender == 'female' %}
                <div class="container">
                <img src="{% static 'src/img/girl.png' %}" style="height: auto; width: 100%; max-height:300px; max-width: 300px;" class="img-avatar" alt="Innogeeks technical club of kiet group of institution Ghaziabad Anynumos ">
              </div> 
                {% else %}
                 <div class="container">
                <img src="{% static 'src/img/man.png' %}" style="height: auto; width: 100%; max-height:300px; max-width: 300px;" class="img-avatar" alt="Innogeeks technical club of kiet group of institution Ghaziabad Anynumos ">
              </div>
                  {% endif %}

                
                
              </div>
              <div class="col-md-6 col-lg-6  ">
                <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                
                <!-- <h2 class="mb-4"></h2> -->
                  <!-- <h2 class="mb-4">
                      <span class="text-slider-items">
                          About Me
                      </span>
                      <strong class="text-slider"></strong>
            
                  </h2> -->
                  {% if profile.shortBio %}
                <p> {{profile.shortBio}}</p>
                {% endif %}
                <ul class="about-info mt-4 px-md-0 px-2">
                  {% if profile.user.name %}
                <li class="d-flex"><span>Name:</span> <span>{{profile.user.name}}</span></li>
                {% endif %}
                {% if profile.dob %}
                <li class="d-flex"><span>Date of birth:</span> <span>{{profile.dob}}</span></li>
                {% endif %}
                {% if profile.city %}
                <li class="d-flex"><span>Address:</span> <span>{{profile.city}} {{profile.state}} {{profile.postal_code}}</span></li>
                {% endif %}
                {% if profile.email %}
                <li class="d-flex"><span>Email:</span> <span>{{profile.email}}</span></li>
                {% endif %}
                {% if profile.phone %}
                <li class="d-flex"><span>Phone: </span> <span>{{profile.phone}}</span></li>
                {% endif %}
                {% if resume.facebookURL %}
                <li class="d-flex"><span>Facebook: </span> <span><a target="_blank" href="{{resume.facebookURL}}">  {{resume.facebookURL}}</a></span></li>
                {% endif %}
                {% if resume.twitterURL %}
                <li class="d-flex"><span>Twitter: </span> <span><a target="_blank" href="{{resume.twitterURL}}">  {{resume.twitterURL}}</a></span></li>
                {% endif %}
                {% if resume.linkedinURL %}
                <li class="d-flex"><span>LinkedIn: </span> <span><a target="_blank" href="{{resume.linkedinURL}}">  {{resume.linkedinURL}}</a></span></li>
                {% endif %}
                {% if resume.githubURL %}
                <li class="d-flex"><span>Github: </span> <span><a target="_blank" href="{{resume.githubURL}}">  {{resume.githubURL}}</a></span></li>
                {% endif %}
                
                </ul> 
                </div>
                </div>
              </div>
            </div>
            </section>
          <br><br>

          <!-- professional,summary Section -->
          <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

              <div class="row">
                {% if educations %}
                <div class="col-lg-7">
                  <h3 class="resume-title">Education</h3>
                  {% for education in educations %}
                  <div class="resume-item">
                    <h4>{{education.qualification}}</h4>
                    <h5>{{education.time_period}}</h5>
                    <p><em>{{education.institution}}</em></p>
                  </div>
                  {% endfor %}
                  </div>
                  {% endif %}
          
                  {% if skills %}
                  <div class="col-lg-5">
                    <h3 class="resume-title">Skills</h3>
                    <div class="resume-item pb-0">
                      {% for skill in skills%}
                      <ul>
                        <li>{{skill.skill}}</li>
                      </ul>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>

              </div>
            </section>
            
            <!-- End professional,summary Section -->
            <section class="page" id="resume-section">
              <div class="container">
                <div id="page-2" class="page two" style="margin-bottom: 5vh !important; padding-top: 4vh !important;">
                  {% if achievements%}
                <h2 class="heading">Achievements</h2>
              <div class="row">
                {% for achievement in achievements %}
              <div class="col-md-3">
              <div class="resume-wrap ftco-animate fadeInUp ftco-animated">
              <span class="date">{{achievement.date}}</span>
              <div class="row">
                <div class="col-md-10"><h2>	{{achievement.achievementName}}</h2></div>
                
                <div class="col-md-2">
                  {% if achievement.certiURL %}
                  <h2><a href="{{achievement.certiURL}}"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
                  {% endif %}
                </div>
              </div>
             
              {% if achievement.image %}
              <img class="card-img-top" src="{% static '' %}{{achievement.image}}" alt="Card image cap">
              {% else %}
              <img class="card-img-top" src="{% static 'src/img/placeholder-img.jpg' %}" alt="Card image cap">
              {% endif %}

              <span class="position">{{achievement.category}} ( {{achievement.role}} )</span>
              <p class="mt-4">{{achievement.description}}</p>
              </div>
              </div>
              {% endfor %}
              </div>
              
            </div>
            {% endif %}

            <!-- Projects Section-->

            <div id="" class="page two" style="margin-bottom: 5vh !important;" >
              {% if projects %}
            <h2 class="heading">Projects</h2>
          <div class="row">
            {% for project in projects %}
          <div class="col-md-3">
          <div class="resume-wrap ftco-animate fadeInUp ftco-animated">
          <span class="date">{{project.date}}</span>
          <div class="row">
            <div class="col-md-10"><h2>	{{project.projectName}}</h2></div>
           
            <div class="col-md-2">
              {% if project.githubURL%}
              <h2><a href="{{project.githubURL}}"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
              {% endif %}
            </div>
          </div>
          
          {% if project.image %}
          <img class="card-img-top" src="{% static '' %}{{project.image}}" alt="Card image cap">
          {% else %}
          <img class="card-img-top" src="{% static 'src/img/placeholder-img.jpg' %}" alt="Card image cap">
          {% endif %}

          <span class="position">{{project.category}} ( {{project.yourRole}} )</span>
          <p class="mt-4">{{project.description}}</p>
          </div>
          </div>
          {% endfor %}
          </div>
          
        </div>
        {% endif %}



              <!-- ======= Blog Section ======= -->
              <section id="" class="" style="padding: 0px !important;">
                
                    <div class="col-sm-12">
                      
                      <div id="" class="">
                        {% if blogs%}
                      <h2 class="heading">Blogs</h2>
                      <div class="row row-cols-1 row-cols-md-4">
                        {% for blog in blogs %}
                        <div class="col mb-4">
                          <div class="card post">
                            {% if blog.Thumbimage1 %}
                            <img class="card-img-top" src="{% static '' %}{{blog.Thumbimage1}}" alt="Card image cap">
                            {% else %}
                            <img class="card-img-top" src="{% static 'src/img/placeholder-img.jpg' %}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                              <h3 class="mb-0">{{blog.title|truncatewords:7}}</h3>
                        <div class="mb-1 text-muted">{{blog.date}}</div>
                        <p class="card-text mb-auto">{{blog.highlights|truncatewords:30}}</p>
                        <a href="/blog/{{blog.slug}}/" class="stretched-link" target="_blank">Continue reading</a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                
                      </div>
                    </div>
                    </div>  
                
                  </section><!-- End Blog Section -->
                  </div>
                
                  </section>
                  <div class="lastt" >.</div>
              <!-- Import typed.min.js file from typed.js folder -->
              <script src=
                  "./typed.js-master/lib/typed.min.js">
              </script>
                
              <!-- Add jquery cdn -->
              <script src=
          "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
              </script>
           
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
     
  </body>

  <script>

$('.copy_text').click(function (e) {
  e.preventDefault();
  var copyText = $(this).attr('href');

  document.addEventListener('copy', function(e) {
     e.clipboardData.setData('text/plain', copyText);
     e.preventDefault();
  }, true);

  document.execCommand('copy');  
  console.log('copied text : ', copyText);
  alert('copied text: ' + copyText); 
});
  </script>
</html>

<!--  url - slug fetch
      -->




      <!-- images
      dynamic -->