{% extends 'base/base.html' %}
{% block bca %}
<li class=""><a href="{% url 'article_list' %}">&nbsp / &nbsp Article List</a></li>
<li class="breadcrumb-item active"> &nbsp / &nbsp Update Article </li>
 {% endblock %}
{% load static %}

{% block script %}
{% comment %} <script src="{% static 'src/js/articles.js' %}"></script> {% endcomment %}
<script src="{% static 'src/js/project.js' %}"></script>
{% endblock script %}

{% block extrahead %}
<link href="{% static 'src/css/project.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block content %}

 <!-- ======= Update Article Section ======= -->
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header ">Write Article</div>
      <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <div class=" form-group col-md-8">
              <h6>Title Of The Article :</h6> 
              <input type="text" class="form-control mb-3 mt-2" 
              name="Title" value="{{ article.title }}" placeholder="Write suitable title for your article.." required>

              <h6>Domain :</h6>
               <select
              class="form-control"
              name="Domain"
              value="{{article.domain}}"
               >
               {% if article.domain == 'Web_Development' %}
              <option value="Web_Development" selected>Web Development</option>
              <option value="Machine_Learning" >Machine Learning</option>
              <option value="Android_Development" >Android Development
              </option>
              <option value="AR_VR">AR/VR
              </option>
              <option value="Internet_Of_Things">Internet Of Things
              </option>
              {% elif article.domain == 'Machine_Learning' %}
              <option value="Web_Development" >Web Development</option>
              <option value="Machine_Learning" selected>Machine Learning</option>
              <option value="Android_Development" >Android Development
              </option>
              <option value="AR_VR">AR/VR
              </option>
              <option value="Internet_Of_Things">Internet Of Things
              </option>
              {% elif article.domain == 'Android_Development' %}
              <option value="Web_Development" >Web Development</option>
              <option value="Machine_Learning" >Machine Learning</option>
              <option value="Android_Development" selected>Android development
              </option>
              <option value="AR_VR">AR/VR
              </option>
              <option value="Internet_Of_Things">Internet Of Things
              </option>
              {% elif article.domain == 'AR_VR' %}
              <option value="Web_Development" >Web Development</option>
              <option value="Machine_Learning" >Machine Learning</option>
              <option value="Android_Development" >Android development
              </option>
              <option value="AR_VR" selected>AR/VR
              </option>
              <option value="Internet_Of_Things">Internet Of Things
              </option>
              {% elif article.domain == 'Internet_Of_Things' %}
              <option value="Web_Development" >Web Development</option>
              <option value="Machine_Learning" >Machine Learning</option>
              <option value="Android_Development" >Android development
              </option>
              <option value="AR_VR" >AR/VR
              </option>
              <option value="Internet_Of_Things"selected>Internet Of Things
              </option>
              {% endif %}
              </select>
              <br>
              
              <h6>Paragraph or statement to be highlighted:</h6> 
              <input type="text" class="form-control mb-3 mt-2" 
              name="Highlights" value="{{article.highlights}}" placeholder="Write paragraph or statement to be highlighted: " required>
                </div>
              <div class="form-group col-md-4">
                <div class="container-fluid"> 
                <h6>Thumbnail Image : </h6>
                
                {% if article.Thumbimage1 %}
                <img id="previewImg" src="{% static '' %}{{article.Thumbimage1}}"  alt="Placeholder">
                {% else %}
                <img id="previewImg" src="{% static 'src/img/placeholder-img.jpg' %}"  alt="Placeholder">
                {% endif %}
                <br>
                <input type="file" name="TImage" onchange="previewFile(this);" accept="image/*" value="{{article.Thumbimage1}}"  >
              </div>
              </div>
            </div>


            <h6>Description :</h6>
            <textarea class="form-control mb-3 mt-2" name="Description"
            placeholder="Write breif info or description related to your article" rows="8">{{article.description}}</textarea>

            <div class="form-row">
              <div class="form-group col-md-8">
              <h6>Sub Heading(if any) :</h6>
              <input type="text"
              class="form-control mb-3 mt-2"
              name='SubHeading'
              value="{{article.subHeading}}"
              placeholder='Write suitable subheading related to your article..'
              >
            </div>
            <div class="form-group col-md-4">
              <h6>Image:</h6>
              <input name="Image" type="file" class="form-control mb-3 "              
              id="file"
              accept="image/*"
              >
            </div>
            </div>
              
            <h6>Article:</h6>
            <textarea class="form-control mb-3 mt-2" name="Content" 
            placeholder="Proceed with your article" rows="30" required>{{article.content}}</textarea>

            <h6>Code:</h6>
            <textarea class="form-control mb-3 mt-2" name="Code" 
            placeholder="Proceed with your article" rows="20" >{{article.code}}</textarea>


              <h6>Quote(if any) :</h6> 
              <input type="text" class="form-control mb-3 mt-2" 
              name="Quote" value="{{article.quote}}" placeholder="Write suitable Quote for your article.." >

              <h6>Quote By :</h6>
            <input type="text" class="form-control mb-3 mt-2" 
              name="quoteBy" value="{{article.quoteBy}}" placeholder="Link of your article" >

              <div class="form-row">
                <div class=" form-group col-md-4">
                  <h6>#Hashtag(1):</h6>
                  <input type="text" class="form-control mb-3 mt-2" 
              name="Tag1"value="{{article.tag1}}" placeholder="mention suitable hashtag for your article.." >
                </div>
                <div class=" form-group col-md-4">
                  <h6>#Hashtag(2):</h6>
                  <input type="text" class="form-control mb-3 mt-2" 
              name="Tag2" value="{{article.tag2}}" placeholder="mention suitable hashtag for your article.." >
                </div>
                <div class=" form-group col-md-4">
                  <h6>#Hashtag(3):</h6>
                  <input type="text" class="form-control mb-3 mt-2" 
              name="Tag3" value="{{article.tag3}}" placeholder="mention suitable hashtag for your article.."  >
                </div>
              </div>


              <button class="btn btn-success btn-ladda col-12" type="submit" data-style="contract" style="border-radius: 5px; font-size: 15px;">Submit</button>


          </form>

      </div>
  </div>

</div>
<!-- Update Article end -->
{% endblock content %}