<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Response to your query</title>

        <style>
            .body{
                width: 100% !important;
                height: 100% !important;
                }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                }
        </style>
    </head>
    <body>
        
            <div class=""  style="background-color: rgb(5,4,19); border-radius: 0px 0px 50% 50%; width: 100%; padding-top:15px; padding-bottom: 15px;">
                <img  style="width: 250px;" class="center" src="https://innogeeks.s3.amazonaws.com/img/innogeeks.png" alt="INNOGEEKS">         
            </div>
            
            <div style="padding-left: 7vw; padding-right:7vw">
                <h2>Hey Geek,</h2>
                <h4>Thanks for writing to us!</h4>
                <p>As far as your query is concerned,  ..... </p>
                <p>{{message}}</p>
                <p style="padding:0px; margin-bottom: 5px; ">Thanks &amp; Regards</p>
                <b><i style=" padding-bottom:20px;">Team Innogeeks</i></b>
            </div>

            
    </body>
</html>