<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Registration Successful</title>

        <!-- Bootstrap CDN -->
        <!-- CSS only -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>
        
        
<!-- ======= Email Section ======= -->
        <div class="d-flex justify-content-center">
            <div class=" col-12 d-flex justify-content-center p-4"  style="background-color: rgb(5,4,19); border-radius: 0px 0px 50% 50%;">
                <img  style="width: 300px;" src="https://innogeeks.s3.amazonaws.com/img/innogeeks.png" alt="logo">         
        </div>
        </div>
       
        <div style="" class="d-flex justify-content-center">
            <div style=" padding-top: 50px;" class="col-8">
                <h2>Hey Geek,</h2>
                <h4>Thanks for Registration!</h4>
                <p style="font-size: 20px;"><i>Success is acquired through endeavor, which rests wholly upon yourself. So, tie your seatbelts and get ready for the journey ahead!</i></p>
                <p>Your response is recorded, we'll contact you soon on your registered email ID with further updates. For any queries reach back to us on <i>innogeeks@kiet.edu</i> or mention it in the contact form of our website.</p>
                <i>Follow our social media handles to stay tuned: </i>
                <br>
                <a class="p-1" href="https://instagram.com/innogeeks.kiet?igshid=17ck587td7rj2"><i style="color: rgb(5,4,19); size: 50px;" class="fa fa-instagram"> &nbsp; <b>Instagram</b></i></a>
                <br>
                <a class="p-1" href=" https://www.facebook.com/innogeeks.kiet/?epa=SEARCH_BOX "><i style="color: rgb(5,4,19); size: 50px;" class="fa fa-facebook"> &nbsp; <b>Facebook</b></i></a>
                <br>
                <a class="p-1" href="https://www.youtube.com/channel/UCOhJvzvg5MC9_45qYyhvJGw "><i style="color: rgb(5,4,19); size: 50px;" class="fa fa-youtube"> &nbsp; <b>YouTube</b></i></a>
                <br>
                <a class="p-1" href="https://www.linkedin.com/company/innogeeks"><i style="color: rgb(5,4,19); size: 50px;" class="fa fa-linkedin"> &nbsp; <b>LinkedIn</b></i></a>
                <br>
                <br>
                <p style="padding:0px; margin:0px;">Thanks & Regards</p>
                <b><i style="margin-top:-50px; padding-bottom:20px;">Team Innogeeks</i></b>
            </div>
        </div>

       

       </div>
  <!-- Email Section end-->
        
        



        <!-- Bootstrap cdns -->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <!-- FONT AWESOME -->
        <script src="https://use.fontawesome.com/b605b6abff.js"></script>
    </body>
</html>